{
	"all": true,
	"include": [
		"dist-test/src/**/*.js"
	],
	"reporter": [
		"html",
		"text",
		"lcov"
	],
	"exclude": [
		"coverage",
		"dist-test/src/acorn-umd",
		"dist-test/src/script.js",
		"eslint.config.mjs",
		"test"
	]
}
